<div id="cont">
	<div id="powerline">
		<span id="mode"></span>
		<span id="obj"></span>
	</div>
	<div id="doc">
		<div>
			<div id="overlay">
				<svg id="curs">
					<path d="M 0,10 L 20,10 M 10,0 L 10,20 Z" stroke="#000"></path>
					<text font-size="10px" x="14" y="6"></text>
				</svg>
			</div>
			<div id="canv">
			</div>
		</div>
	</div>
	<pre id="data">
	</pre>
</div>
