#bar {
	display: flex;
	color: #fff;
	z-index: 1000;
	* {
		padding: 4px;
	}
	#setting {
		background: #333;
		width: 216px;
		display: flex;
		flex-direction: column;
		padding: 0;
		#expand {
			display: flex-column;
			overflow-y: scroll;
			flex-grow: 1;
		}
		h4 {
			cursor: pointer;
		}
		.setting {
			> div {
				border: 1px solid grey;
				.input {
					display: flex;
					input,
					select {
						margin-left: auto;
						width: 60px;
					}
				}
			}
		}
		#color-palette {
			div {
				svg {
					cursor: pointer;
					width: 16px;
					height: 16px;
				}
			}
		}
		#history {
			div {
				background: #fff;
				margin: 10px;
				svg {
					transform: scale(0.4);
					overflow: visible;
				}
			}
		}
	}
	#btn {
		background: #222;
		padding-right: 18px;
		width: 100px;
		margin: 0;
		overflow-y: auto;
		a.current {
			text-decoration: underline;
			&::after {
				content: '';
				border-top: 9px solid transparent;
				border-bottom: 9px solid transparent;
				border-right: 9px solid #333;
				float: right;
				margin-right: -24px;
			}
		}
	}
	#res {
		background: #333;
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		// fix svg expanding to huge size
		div {
			display: flex;
			flex-direction: column;
			padding: 0;
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				svg {
					background: #fff;
					height: 50px;
					width: 50px;
					padding: 6px;
				}
			}
		}
	}
}
